.no-reports {
    padding-top: 138px;
    text-align: center;

    .title {
        font-weight: bold;
        font-size: 24px;
        color: #011F4B;
    }

    .decription {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #7E8299;
    }

    img {
        margin-top: 51px;
    }
}